body {
    background-color: rgb(227, 217, 194);
    
}

header {
    background-image: url(/bird_project/home_page_img\ .jpg;)
    background-size: cover;
    width: auto;
    height: 600px;
    padding: 15px;
    border-radius: 24px;
   

}

.container {
    display: flex;
    background-color: white;
    justify-content: space-between;
    border-radius: 20px;
    margin: 0%;
    padding: 30px;
    border: 2px solid black;

}

.navbar {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
    

}

input[type="text"] {
    width: 380px;
    height: 20px;
    border-radius: 15px;
    border-color: rgb(236, 201, 157);
    text-align: start;
    text-size-adjust: 14px;
    text-transform: capitalize;
    font-style: oblique;
}

.nav-link {
    display: flex;
    gap: 30px;
}

.nav-link a {
    font-weight: bolder;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-top: 3px;


}

.img_shoes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: 4px;
}

.product1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.product1 img {
    border: 2px solid white;
    border-radius: 8px;
}

.product1 h1{
    position: absolute;
    font-weight: 500;
    text-size-adjust: 8px;
    width: 150px;
    height: 40px;
    padding: 10px;
    border-radius: 28px;
    border: color 10px solid white ;
    cursor: pointer;
    opacity:1 ;
    text-align:center;
   background-color:  rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.product1 h1:hover{
    transform: scale(0.9)
}
.head1 h1{
    text-align: center;
    font-family: "Work Sans", sans-serif;
  font-weight:bolder;
  font-style: normal;
  font-size: 5vh;

    
}
.head1 p{
    text-align: center;
    font-size: 1.5rem;
     font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    font-display:inherit ;
    font-weight:normal ;
    font-size-adjust: ;
}

.one{

    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: lighter;

}

.header-2{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 20px;
    font-size: 2.5vh;
}

.header-2 p{
    font-size: large;
    text-align: center;
    font-size: 20px;

}
.header-2 img{
    width:904px;
    height: 540px;
    justify-content: left;
    border-radius: 20px;
    cursor: pointer;
}
.list-items{
    padding: 25px;
    margin-top: 20px;
}
.product-list{
    background-color: white;
    width: 420px;
    height: 550px;
    border:0.5px solid black;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    position: relative;

}
.list-items{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
}
.runner-tree h3{
    font-size: x-large;
    font-weight: inherit;
    font-family: 'Times New Roman', Times, serif;
}
.runner-tree p{
    font-size: 2vh;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

.button1{
    width: 21px;
    height: 20px;
    background-color:gray;
    border-radius: 30px;
    align-items: center;
}
.button2{
    width: 21px;
    height: 20px;
    background-color:rgb(10, 32, 29);
    border-radius: 30px;
    align-items: center;
}
.button3{
    width: 21px;
    height: 20px;
    background-color:navy;
    border-radius: 30px;
    align-items: center;
}
.button4{
    width: 21px;
    height: 20px;
    background-color:white;
    border-radius: 30px;
    align-items: center;
}