head1 h1{
    text-align: center;
    font-weight: inherit;
    font-size: xx-large;
}
.head1 p{
    text-align: center;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100px;
    padding: 10px;
}

h2{

    color: green;

}

.header-2{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.header-2 p{
    font-size: large;
}
.header-2 img{
    width:844px;
    height: 530px;
    justify-content: left;
}